* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bhanu: #b40f14;
    --surya: #f98c2d;
}
/* General CSS styles */
body {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 84px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: justify; line-height: 200%;
}
/* Navbar */
#navbar {
  background-color: #333333AA;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  width: 100vw;
  z-index: 5;
  align-content: center;
  max-width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
}
#navbar a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}
#close {
  display: none;
}
/* Landing */
#landing {
  text-align: center;
  height: 100vh;
  background-image: url('globe.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 8fr 1fr;
      grid-template-rows: 1fr 8fr 1fr;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  justify-items: center;
  /* align-items: center; */
}

#landing img {
  height: 150px;
}
.group {
  margin-top: 10vh;
  grid-column: 1/-1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  color: white;
}
.group sup { text-transform: none;}

#landing a {
  font-size: 24px;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
#down {
  grid-column-end:-2;
  grid-row-end: -1;
}
#open {
  cursor: pointer;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  z-index: 3;
  position:fixed;
  top: 0;
  left: 0;
  /* border: 1px solid var(--surya); */
  background-color: var(--surya);
  padding: 10px;
  display: none;
}

#banner {
  line-height: 75%;
}

#landing h3 {font-family: 'Montserrat', sans-serif; font-size: 36px;}
/* Adresses */
#addressals {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addressal {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  max-width: 90vw;
}
.left {
  display: grid;
  /* grid-auto-rows:  */
}
.addressal img {
  grid-column-start: 1;
  grid-row: 1 / span 2;
  max-height: 150px;
  align-content: center;
  justify-self: center;
  border-radius: 100%;
}
/* Committees */
#committees {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
}
#committees h1 {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}
.committee {
  display: -ms-grid;
  display: grid;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 300px;
  background-color: #aaa;
}
/* Fourth Estate */
#fourth-est {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 2fr 3fr;
}
#fourth-est p {
  float: left;
  max-width: 40vw;
}
#fourth-est h1 {grid-column: 1/-1;}
#fourth-est img {
  max-height: 50vh;
  justify-self: right;
}
/* Registration/Other section */
#registration {
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  background-color: var(--bhanu);
  margin-bottom: -20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#registration h1 {
  font-size: 60px;
}
#registration a {
/*   padding: 10px; */
  text-decoration: none;
  color: #000;
  /* max-width: 80vw; */
}
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  max-width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
}
footer p {
  text-align: center;
  font-size: 18px;
}
footer a{
  text-transform: none;
  text-decoration: none;
  grid-column: 1/-1;
  color: #fff;
}
footer h3 {
  font-size: 36px;
  grid-column: 1/-1;
}
/* Media Queries */
@media all and (max-width:1250px) {
  /* committees */
  #committees {
    -ms-grid-columns: (200px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 200px);
  }
  .committee {
    height: 200px;
    width: 200px;
  }
  /* fourth-est */
  #fourth-est {
    grid-template-columns: 1fr;
  }
  #fourth-est p, #fourth-est img {
    max-width: 90vw;
  }
}
@media all and (max-width: 1070px) {
  /* footer */
  #navbar a {
    font-size: 18px;
  }
}
@media all and (max-width: 870px) {
  /* footer */
  #navbar a {
    font-size: 12px;
  }
  .addressal {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 660px) {
  /* footer */
  #open {display:block;transition: transform 0.5s ease;}
  #close {display: block;}
  #navbar {
    background: #333;
    width: 50vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-auto-rows: 15vh;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  footer {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 500px) {
  h1{
    font-size: 60px;
  }
}

@media all and (max-width: 360px) {
  h1{
    font-size: 55px;
  }
}
