* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bhanu: #b40f14;
    --surya: #f98c2d;
}
/* General CSS styles */
body {
    display: grid;
    grid-gap: 10px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 84px;
  text-transform: uppercase;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
/* Landing */
#landing {
  height: 100vh;
  background-image: url('daniel-sandvik-540127-unsplash.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 80vh 10vh 10vh;
  grid-template-columns: 10vw 80vw 10vw;
  justify-items: center;
  /* align-items: center; */
}

#landing img {
  height: 75px;
}
.group {
  grid-column: 1/-1;
  margin-top: 10vh;
  text-align: center;
  color: white;
}
.group sup { text-transform: none;}

#landing #scroll{
  grid-row-end: -1;
  align-self: center;
  color: white;
  font-size: 24px;
}
.button {
  text-align: center;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  color: white;
}
#down {
  grid-row-end: -1;
  grid-column-end: -2;
}
/* Adresses */
#addressals {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}
.addressal {
  display: grid;
  grid-gap: 16px;
  text-align: center;
  max-width: 90vw;
}
.addressal p {text-align: justify; line-height: 200%;}
/* Committees */
#committees {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  text-align: center;
}

.committee {
  display: grid;
  cursor: pointer;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #aaa;
}
/* Media Queries */
@media all and (max-width: 500px) {
  h1{
    font-size: 60px;
  }
}

@media all and (max-width: 360px) {
  h1{
    font-size: 55px;
  }
}
