/* Split */
#split {
  color: #fff;
  text-transform: uppercase;
  max-width: 100vw;
  height: 25vh;
  cursor: pointer;
  /* margin: 5vh 5vw; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns:repeat(6,1fr);
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

#split h3 {
  padding: 20px;
  border: 1px solid black;
  color: black;
}
#split a {
  text-decoration: none;
}
#delegate, #delegation {
  grid-column: span 3;
  grid-row-start: 1;
}
#cartoonist, #journalist, #photographer {
  grid-column: span 2;
  grid-row-end: -1;
}
/* Forms */
#delegateform , #delegationform {
  color: white;
  font-size: 16px;
  display: none;
  grid-column: 1 / -1;
  max-width: 90vw;
}
#delegateform form , #delegationform form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
}
#delegateform h3, #delegationform h3 {
  grid-column: 1 / span 1;
  justify-self: left !important;
  border: none;
}
#delegateform form input , #delegation form input {
  grid-column-end: -1;
}
@media all and (max-width:830px) {
  #split {grid-template-columns: 1fr;}
  /* h1 { font-size: 60px;} */
  h3 {font-size: 18px;}
}
@media all and (max-width:400px) {
  /* h1 { font-size: 48px;} */
}
