* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bhanu: #b40f14;
    --surya: #f98c2d;
}
/* General CSS styles */
body {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    background: #111111;
    max-width: 100%;
    justify-content: center;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 84px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: justify; line-height: 200%;
}
/* Header */
#header a {
  margin-top: 10vh;
  display: grid;
  justify-items: center;
  align-items: center;
  color:white;
  max-width: 100vw;
}
#header img {
  height: 150px;
}
/* Split */
#split {
  color: #fff;
  text-transform: uppercase;
  max-width: 100vw;
  height: 25vh;
  cursor: pointer;
  /* margin: 5vh 5vw; */
  display: grid;
  justify-items:center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#split h3 {
  padding: 20px;
  border: 1px solid var(--bhanu);
  color: white;
}

#split a {
  text-decoration: none;
}

#split #photographer{
  grid-column: 1 / -1;
}
/* Forms */
#delegateform , #delegationform {
  color: white;
  font-size: 16px;
  display: none;
  grid-column: 1 / -1;
  max-width: 90vw;
}
#delegateform form , #delegationform form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
}
#delegateform h3, #delegationform h3 {
  grid-column: 1 / span 1;
  justify-self: left !important;
  border: none;
}
#delegateform form input , #delegation form input {
  grid-column-end: -1;
}
@media all and (max-width:830px) {
  #split {grid-template-columns: 1fr;}
  h1 { font-size: 60px;}
  h3 {font-size: 18px;}
}
@media all and (max-width:400px) {
  h1 { font-size: 48px;}
}
